<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

    <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
                 <a href="/" class="navbar-brand">YelpCamp</a>
            </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                       <% } else { %>
                        <li><a href="">Signed in As <strong><%= currentUser.username %></strong></a></li>
                        <li><a href="/logout">Logout</a></li>
                      <% }; %>
                    </ul>
                </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0) {%>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) {%>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
    </div>
    
