<% include partials/header %>

<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

<br>

<a href="/register" class="btn btn-primary">Register</a>

<% include partials/footer %>