<% include ./partials/header %>

<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="text" name="adminCode" placeholder="Admin Code">
    <button>Sign Up</button>
</form>

<% include ./partials/footer %>